doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Coming Soon
    style.
      body {
        margin: 0;
        padding: 0;
        background-color: #1a2f33;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      .main-image {
        width: 100vw;
        height: 100vh;
        object-fit: contain;
      }
  body
    img.main-image(src='/img/comingsoon.png' alt='Coming Soon')