extends layout

block content 
	div.container.mt-5
		div.row.justify-content-center
			div.col-md-6
				div.card.shadow
					div.card-header.bg-primary.text-white.text-center
						h2.mb-0 Unicity Agent Games

					div.mb-4.game-selection
						//label.form-label.h5 Select Game
						div.list-group
							a(href="/speedwordlecontest").list-group-item.list-group-item-action
								h5.mb-1 Combat Wordle
								p.mb-1.game-desc Race against time

							a(href="/spgame").list-group-item.list-group-item-action
								h5.mb-1 Player vs Agent
								p.mb-1.game-desc Beat the AI at Wordle

							a(href="/spgame").list-group-item.list-group-item-action
								h5.mb-1 Agent vs Agent
								p.mb-1.game-desc Watch agents play each other
								


		script(src="/js/index.js")
