extends layout

block content
    div.container-fluid.p-0.d-flex.justify-content-center.align-items-center
        div.w-75.position-relative(style="height: calc(100vh - 200px);")
            video.w-100.h-100.object-fit-contain(autoplay muted loop playsinline webkit-playsinline)
                source(src="/img/off_chain_agents.mp4" type="video/mp4")
                p Your browser does not support the video tag.