extends layout

block content
  div.container.mt-5
    h1.text-center.mb-4 Uniroad p2p marketplace 
    
    div.alert.alert-info.mb-4.text-center
      p In order to run an agent you must install the UVM (Unicity Virtual Machine). This will allow your agent instance to synchronize with other agent instances.
    
    div.row.justify-content-center
      // Products column
      div.col-12.col-lg-6.mb-4
        div.card
          div.card-header
            h2.text-center Products
          div.card-body
            ul.list-group
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Basil
                  button.btn.btn-primary.btn-sm Download Agent 
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Thyme
                  button.btn.btn-primary.btn-sm Download Agent 
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Rosemary
                  button.btn.btn-primary.btn-sm Download Agent 
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Sage
                  button.btn.btn-primary.btn-sm Download Agent 
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Oregano
                  button.btn.btn-primary.btn-sm Download Agent 
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Mint
                  button.btn.btn-primary.btn-sm Download Agent 
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Cilantro
                  button.btn.btn-primary.btn-sm Download Agent 
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Parsley
                  button.btn.btn-primary.btn-sm Download Agent 
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Dill
                  button.btn.btn-primary.btn-sm Download Agent 
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Chives
                  button.btn.btn-primary.btn-sm Download Agent
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Tarragon
                  button.btn.btn-primary.btn-sm Download Agent
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Marjoram
                  button.btn.btn-primary.btn-sm Download Agent
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Bay Leaves
                  button.btn.btn-primary.btn-sm Download Agent
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Fennel
                  button.btn.btn-primary.btn-sm Download Agent
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Lavender
                  button.btn.btn-primary.btn-sm Download Agent
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Chamomile
                  button.btn.btn-primary.btn-sm Download Agent
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Lemon Balm
                  button.btn.btn-primary.btn-sm Download Agent
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Coriander
                  button.btn.btn-primary.btn-sm Download Agent
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Borage
                  button.btn.btn-primary.btn-sm Download Agent
              li.list-group-item
                div.d-flex.justify-content-between.align-items-center
                  span Calendula
                  button.btn.btn-primary.btn-sm Download Agent